<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="jdbcTypeForNull" value="OTHER"/>
        <setting name="callSettersOnNulls" value="true" />

        <setting name="cacheEnabled" value="true" />
        <setting name="lazyLoadingEnabled" value="false" />
        <setting name="multipleResultSetsEnabled" value="true" />
        <setting name="useColumnLabel" value="true" />
        <setting name="useGeneratedKeys" value="false" />
        <setting name="autoMappingBehavior" value="PARTIAL"/>
        <setting name="defaultExecutorType" value="REUSE" />
        <setting name="defaultStatementTimeout" value="15000" />

        <setting name="localCacheScope" value="STATEMENT" />
    </settings>

    <typeAliases>
        <typeAlias alias="userVo" type="kr.co.mkm.login.service.UserVo"/>
        <typeAlias alias="counselingVo" type="kr.co.mkm.client.web.service.CounselingVo"/>
        <typeAlias alias="estimateVo" type="kr.co.mkm.client.web.service.EstimateVo"/>
        <typeAlias alias="visitVo" type="kr.co.mkm.visit.service.VisitVo"/>
        <typeAlias alias="searchVisit" type="kr.co.mkm.visit.service.SearchVisit"/>
        <typeAlias alias="searchResult" type="kr.co.mkm.visit.service.SearchResult"/>
        <typeAlias alias="user" type="kr.co.mkm.login.service.User"/>
    </typeAliases>

    <mappers>
        <mapper resource="mybatis/mappers/UserSQL.xml"/>
        <mapper resource="mybatis/mappers/ClientSQL.xml"/>
        <mapper resource="mybatis/mappers/VisitSQL.xml"/>
    </mappers>
</configuration>